.clearfix:before, .clearfix:after{
    display: table;
    content:"";
}
.clearfix:after{
    clear:both;
}
.cabecera .container{
    width: 1170px;
    margin: 0 auto;
     padding: 0 15px;    
}
.cabecera .logo{
    float:left;
    width:230px;
    padding:10px 0;
}
a{
    color: #505961;
    -webkit-transition:all .5s ;
    -o-transition:all .5s ;    
    transition:all .5s ;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a:hover{
    color: #5fb677;
}
.cabecera .menu{
    float: right;
}
.cabecera .menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.cabecera .menu ul li{
    float: left;
    
}
.cabecera .menu ul li a{
    padding: 0 15px;
    display: block;
    line-height: 84px;
   }
.cabecera .menu ul li a:hover, .cabecera .menu ul li.active a{
         color: #fff;
   box-shadow: 0 84px 8px #2fb677 inset;      
    
}

.wrap {
	padding-top: 40px;
	padding-bottom: 40px;
}
.left-wrap,.right-wrap{
	float: left;
	padding: 1em;
} 
.left-wrap{
	width: 760px; 
}
	
.right-wrap {
	width: 380px;
}
/*TITULOS */
.titulos-wrap{
    text-align: center;
    padding: 20px 15px 40px;
}
.titulos-wrap .titulo{
    margin: 0;
    padding: .2em 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #ffb677;
    
}
.titulos-wrap .subtitulo{
    margin: 0;
    padding: 0;
    color:crimson;
    
}

/*page Titles*/
.page_title{
	background: #f5f5f5;
	/*background: url('../img/pg_header.jpg') no-repeat top center;*/
	box-shadow: 0 1px 6px rgba(0, 0, 0, .03) inset, 0 -1px 6px rgba(0, 0, 0, .03) inset;
}
.page_title .titles {
	padding-left: 20px;
}
.titles-inverted .title, .titles-inverted .sub-title {
	color: #fff;
}

/*Blog*/
.blog{
	margin-bottom: 20px;
}
.blog header h1 {
	font-size: 1.3em;
	margin: .15em 0 .3em;
}
.blog header span {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
.blog header span:last-child {
	border: none;
}
.blog header span i {
	margin-right: 8px;
}
				
.line {
	width: 85%;
	display: block;
	margin: 1em auto 1.5em;
	height: 1px;
	background: url('../img/white-pixel.png') rgba(2, 191, 119, 0.85);
}
/*Sidebar*/
.sidebar{
	padding-left:10px;
    margin-left: 60px
}
.sd-title{
	margin:0;
	padding:0;
}
.sd-title h2{
	margin:0;
	padding: .15em 0 .2em
}
.populares{
	list-style:none;
	margin:10px 20px;
	padding:0;	
}
.populares li{
	margin-bottom:10px;
	display:block;
	border-bottom:1px solid #e5e5e5;
	padding:5px 0;
	line-height:1;
}
.populares li:before,.populares li:after{
	display:table;
	content:" "
}
.populares li:after{
	clear:both
}
.populares li .img_prev{
	width:88px;
	float:left;
	margin-right: 10px;
}
.populares li .img_prev img{
	width:100%;
	height:75px
}
.populares li .title{
	
	padding:10px 10px;
}
.populares li .title h3{
	margin:0;
	padding:.3em 0;
	font-size:16px
}

/*Sidebar*/
.sidebar{
	padding-left:20px;
    margin-top: 10px;
    margin-right: inherit;
}
.sd-title{
	margin:0;
	padding:0;
    text-align: center;
}
.sd-title h2{
	margin:0;
	padding: .15em 0 .2em
}
.populares{
	list-style:none;
	margin:15px 0;
	padding:0;	
}
.populares li{
	margin-bottom:10px;
	display:block;
	border-bottom:1px solid #e5e5e5;
	padding:5px 0;
	line-height:1;
}
.populares li:before,.populares li:after{
	display:table;
	content:" "
}
.populares li:after{
	clear:both
}
.populares li .img_prev{
	width:75px;
	float:left;
	margin-right: 10px;
}
.populares li .img_prev img{
	width:100%;
	height:75px
}
.populares li .title{
	
	padding:0 12px;
}
.populares li .title h3{
	margin:0;
	padding:.2em 0;
	font-size:16px
}
/*Paginacion*/
.bg_white{
	background:#fff url("../img/bg3.png");
	box-shadow:0 1px 3px rgba(0,0,0,0.08) inset,0 -1px 3px rgba(0,0,0,0.08) inset;
    text-align: center;
}
.paginacion{
	list-style:none;
	margin:0;
}
.paginacion li{
	display:inline-block;
	line-height:51px;
}
.paginacion li a{
	padding:.1em .5em;
	margin:0 .5em;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.paginacion li a:hover, .paginacion li.active a{
	border-top-color:#2fb677;
	border-bottom-color:#2fb677;
	border-radius:50%;
}
